body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center; /* Center align text in the body */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center; /* Center align text in the header */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center; /* Center align text in the nav */
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Add transition for smooth color change */
}

nav ul li a:hover { 
    color: #ff6347; /* Change color on hover */ 
    animation: shake 0.5s; /* Add shaking animation on hover */ 
    animation-iteration-count: infinite; 
} 

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.dynamic-image {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 150px;
    height: 150px;
    background-color: #ccc;
    overflow: hidden;
}

.dynamic-image img {
    width: 100%;
    height: auto;
}

.dynamic-image img:hover { 
    transform: scale(1.1); /* Zoom effect on hover */ 
}

main {
    padding: 2rem;
    background-color: #fff;
    color: #000;
    text-align: center; /* Center align text in the main content */
}

.certificates {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center; /* Center align images in the certificates section */
}

.certificates img {
    width: 150px; /* Adjust the width to reduce size */
    height: auto;
    border: 1px solid #ccc;
    padding: 0.5rem;
    background-color: #fff;
    transition: transform 0.3s ease; /* Add transition for animation */
}

.certificates img:hover { 
    transform: scale(1.7); /* Zoom effect on hover */ 
}

.certificates .pdf-link {
    display: block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    transition: color 0.9s ease; /* Add transition for smooth color change */
}

.certificates .pdf-link:hover {
    color: red; /* Change color on hover */
    transform: scale(2.9); /* Slight zoom effect on hover */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center; /* Center align text in the footer */
    padding: 1rem 0;
}
